a[href*="http"] {
  color:#f70
}
a[href*="google"] {
  color:#666
}

a[target="_blank"]:after {
  content:"⇱";
  display:inline-block;
  margin-left:3px;
  text-decoration:none;
  transform: scaleX(-1);    
}
